$yellow: #ffe600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$ligth-gray: #eeeeee;
$blue: #3483fa;
$white: #ffffff;

$assetPath: "/assets/images";
$widthContainer: 70%;
$extraLargeWidthContainer: 50%;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Large tablets and desktops
$screen-2xl-min: 1550px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-2xl-min}) {
    @content;
  }
}
