@import "variables";

.container {
  height: 13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    background-color: $white;
    width: $widthContainer;
    @include xxl {
      width: $extraLargeWidthContainer;
    }

    .cardContainer {
      display: grid;
      grid-template-columns: 45% 25% 20%;
      gap: 1rem;

      @include md {
        grid-template-columns: 35% 40% 10%;
      }
      @include xxl {
        grid-template-columns: 25% 50% 25%;
      }

      .image {
        padding: 16px;
        border-radius: 4px;
        cursor: pointer;
      }

      .resultDescription {
        padding-top: 2rem;

        .price {
          font-size: 24px;
          padding-bottom: 1rem;
        }
        .title,
        .shortDescription {
          font-size: 18px;
        }
        .title {
          cursor: pointer;
        }
      }

      .location {
        padding-top: 3rem;
        padding-left: 2rem;
        font-size: 12px;
        color: $gray;
      }
    }
  }
}
